@model List<Site.Models.Mülkiyet>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1><i class="fas fa-building"></i> Mülkiyet Bilgileri</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Daire No</th>
                    <th scope="col">Adı Soyadı</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Daire Tipi</th>
                    <th scope="col">Kişi Sayısı</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var mülkiyet in Model)
                {
                    <tr>
                        <th scope="row">@mülkiyet.DaireID</th>
                        <td>@mülkiyet.AdiSoyadi</td>
                        <td>@mülkiyet.Telefon</td>
                        <td>@mülkiyet.DaireTipi</td>
                        <td>@mülkiyet.KisiSayisi <i class="fas fa-user"></i></td>
                        <td>
                            <a href="@Url.Action("Update", "Daire", new { id = mülkiyet.DaireID })" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Düzenle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@using (Html.BeginForm("Daire", "Daire", FormMethod.Get))
{
<button type="submit" class="btn btn-secondary ml-2">Geri Dön</button>
}

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        .fa {
            margin-right: 5px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
            color: black;
        }

            .btn-warning:hover {
                background-color: #e0a800;
                border-color: #d39e00;
                color: black;
            }
    </style>
}
